* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	background-color: dodgerblue;
}

nav {
	width: 100%;
	background-color: grey;
	height: 45px;
	position: relative;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: red;
}

.store, .post, .account, .dashboard {
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 10px;
	font-size: 20px;
}

.store {
	color: white;
	left: 30px;
}

.post {
	color: white;
	right: 100px;
}

.account {
	color: white;
	right: 10px;
}

.dashboard {
	color: white;
	left: 185px;
}

.category {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #eeeeee;
}

ul.category > li {
	padding: 10px;
	padding-right: 15px;
	display: inline-block;
	font-size: 25px;
}

ul.category > li > a {
	color: black;
}

.middle {
	width: 400px;
	padding: 20px 40px;
	margin: auto;
	background-color: white;
	margin-top: 35px;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.signin-form label, .signin-form input, .signup-form input, .signup-form select, .postad-form select, .postad-form input, .postad-form textarea, .postad-form label {
	display: block;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

.signin-form input, .signin-form button, .signup-form input, .signup-form select, .signup-form button, .postad-form select, .postad-form input, .postad-form textarea, .postad-form button {
	width: 320px;
	height: 55px;
	border: 2px grey solid;
	padding: 15px 15px;
}

input.sex, input.sell {
	display: inline-block;
	width: 25px;
	height: 20px;
	padding: 0px 0px;
}

span {
	font-size: 30px;
}

.signin-form button, .signup-form button, .postad-form button {
	font-size: 20px;
	background-color: grey;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.forgot {
	display: block;
	text-align: center;
	margin-top: 10px;
	color: grey;
	font-family: 'Roboto', sans-serif;
}

h3, h3 a {
	text-align: center;
	color: white;
}

h3 a {
	color: red;
}

.product-search input {
	width: 500px;
	display: inline-block;
	margin-left: 320px;
	text-align: center;
}

.product-search button {
	width: 200px;
	background-color: grey;
	color: white;
}

.product-search input, .product-search button {
	margin-top: 50px;
	height: 55px;
	font-family: 'Roboto', sans-serif;
	border: 2px grey solid;
}

.product-search {
	font-size: 0;
}

.product-search select {
	display: inline-block;
	margin-top: 50px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	border: 2px grey solid;
	width: 300px;
}

.college {
	margin-left: 370px;
}

.display {
	background-color: grey;
	width: 80%;
	height: 200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 2px grey solid;
}

.product-image {
	height: 80%;
	width: 20%;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

.title {
	margin-left: 300px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-top: 8px;
}

.description {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-left: 80px;
}

.contact, .status {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-left: 80px;
}

.greentext {
	color: green;
}

.redtext {
	color: red;
}